In [3]:
#len() is used for strings not numbers
print(len('2'))
print("I would like " + '2' + " milkshakes, please.")

1
I would like 2 milkshakes, please.

In [ ]:
# number addition
2+2

4

In [ ]:
# string addition
"2" + "2"

'22'

In [ ]:
# number and string addition won't work since they are different datatypes
"2" + 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
# convert to desired data type
float(2)

2.0

In [ ]:
# convert to integer
int(3.14)

3

In [ ]:
# define a variable and overwrite the variable by adding one 
x = 3
x = x+1
print(x)

4

In [20]:
#the previous code also means this. As you keep running the code, x increments by 1 because already have the previous 
# value of X in its memory as this overwrites whatever x was.
x +=1
print(x)

10

In [21]:
triple_up = 5
triple_up *= 3
print(triple_up)

15

In [23]:
quarter_value = 100
quarter_value /= 4
print(int(quarter_value))

25

In [27]:
any_num = int(50.5)
any_num -= 5
print(any_num)

45

In [28]:
a = 4
b=2
c = a+b
print(c)

6

In [30]:
print(int(c/2))

3

In [31]:
# we use print() for numbers
print(10*2)

20

In [1]:
#exponetial operator
print(2**3)

8

In [3]:
#modulo operator
print(4 % 2)

0

In [2]:
print(4 % 3)

1

In [4]:
#floor division
print(10 // 3)

3

In [5]:
print(-11 // 3)

-4

In [6]:
s= 'foobar'
s[::-1][-1] + s[len(s)-1]

'fr'

In [7]:
s[::-5]

'rf'

In [8]:
s[::-1][::-5]

'fr'

In [9]:
s[::5]

'fr'

In [10]:
'these all start with lowercase letters'.capitalize()

'These all start with lowercase letters'

In [12]:
First_name  = 'Ikenna'

SyntaxError: invalid syntax (2383984171.py, line 1)

In [ ]:
'Ikenna'

In [13]:
str()

''

In [ ]:
str(2)