###  What are the highest and lowest priced items we sell?

Based on the list of prices below. Use Python to determine this.

In [4]:
price_list = [129.99, 99.99, 119.19, 99.99, 89.99, 79.99, 49.99]

In [5]:
# calculating highest and lowest price

highest_price = max(price_list)
lowest_price = min(price_list)

print(highest_price, lowest_price)

129.99 49.99

How much would it cost for a customer to purchase two of every item in the price list?

In [7]:
# to calculate two of every item, we have
total_cost_for_two = round(2 * sum(price_list))
total_cost_for_two

1338